*{
  padding:0;
  margin:0;
} 
body{
 width:100%; 
}
img{
 width: 100%;
}
.start{
  min-height:100vh;
  width:100vw;
  background:skyblue;
  position: relative;
 
}
@media (min-width: 320px) and (max-width: 600px){
  .start{
    min-height:100vh;
    width:100%;
    background:skyblue;
    position: relative;
    overflow:scroll;
   
  }
 header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  background:white;
  min-height:50px;
 
 }
  
.logo{
  width:50%;
}
.logo img{
  width:100%;
  max-width:130px;
  height:auto;
}
.nav{
  padding:5px 7px;
}
.nav ul{
  list-style:none;
  display:flex;
}
.nav ul li{
 font-size: 12px;
 padding:3px 4px;
 margin:5px;
}
.nav ul li a{
  text-decoration:none;
  position:relative;
}
.nav ul li a::after{
  content:'';
  position:absolute;
  background-color:black;
  width:0%;
  height:1px;
  bottom:0;
  left:0;
}
.nav ul li a:hover::after{
  width:100%;
  cursor:pointer;
  transition: 2s ease-in-out;
}
Main{
  width:80%;
  max-width:200px;
  height:auto;
  margin:0 auto;
  padding:40px
}
h1{
  font-size:2.1rem;
  text-align: center;
 padding:5px;
 
 
}
.for{
  text-align: center;
  font-size:0.7rem ;
  margin:0 auto;
   padding-bottom: 1em;
   text-decoration: underline;
}
.container{
  height:auto;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.image-slider{
  height:auto;
  padding-top:40px;
  width:100%;
  margin: 0 auto;
  border:2px solid white;
  border-bottom:1px;
  align-items:center;
  background-image:url(../image/build.jpg);
  animation: slides 5s  ease-in-out infinite;
  color:white;
  border-radius:10px;
  
}
.image{
  margin:0 auto;
  text-align:center;
  height:auto;
  width:100%;
  border:2px solid white;
  background-image: url(../image/build.jpg);
  animation: slides 10s  ease-in infinite;
  color:white;
  border-radius:10px;
}
.slider{
  margin:0 auto;
  text-align:center;
  height:auto;
  width:100%;
  margin: 0 auto;
  border:2px solid white; 
   background-image: url(../image/build.jpg);
  color:white;
  animation: slides 10s  ease-in infinite;
  border-radius:10px;
}
h4{
font-size:1.5em;
  text-align: center;
  line-height: 50px;
  padding-top: 20px;
}
@keyframes slides {
  0%{
    color:white;
    background-color: aqua;
    background-image: url(../image/build.jpg);
     
  }
  25%{
    color:black;
    background-color: antiquewhite;
    background-image: url(../image/flour.jpg);
  
}
 50%{
  color: aqua;
  background-color: brown;
  background-image: url(../image/rail.jpg);
 } 
 75%{
  color:burlywood;
background-color: blueviolet;
background-image: url(../image/sca.jpg);
 }
100%{
  color:chartreuse;
  background-color:yellowgreen;
  background-image: url(../image/timber.jpeg);
}
}
/*---image slide-----*/
.count{
  padding:10px;
  display:inline-block;
  width:100%;
  height:auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  margin:0 auto;
  
}
.count img{
  width:100%;
  max-width:500px;
  height:auto;
  object-fit: contain;

}
#harmmer,#iron,#building,#stone,#rail{
  opacity: 0;
  
}
.too{
 width:100%;
 max-width:600px;
  border:1px solid black;
  margin:auto;
  height:300px;
   text-align: center; 
background: linear-gradient(45deg,black,white,red,skyblue,black,greenyellow);
border-radius:20px;
 
  }
  h2{
     padding-top:100px; 
   text-align: center;
   animation:change 5s ease-in infinite;
   color:black;
   font-weight: bold;
   font-size:2rem;
 
  }
  @keyframes change{
    0%{
      color:black;
    }
    25%{
      color:skyblue;
    }
    50%{
      color:red;
    }
    75%{
      color:white;
    }
    100%{
color:greenyellow;
    }
  }
  /*--it was practice---*/
  .word-container {
    margin-top:10px;
    padding-top:10px;
    display: inline-block;
    width:100%;
    max-width: 600px;
    color:skyblue;
    background-color: black;
    font-weight:bolder;
    animation:chang 5s ease-in-out infinite;
    border:1px solid white;
    border-radius:20px;
    text-align: center;
    
  }
  
  .word-container span {
    font-size: 10px;
    text-align:center;
  }
  
  #new-word {
    opacity: 0; /* Initially hide the new word */
  }
  @keyframes chang{
    0%{
      color:skyblue;
    }
    50%{
      color:white;
    }
    100%{
      color:burlywood;
    }
  }
  .act{
    font-size:1.2em;
  }
  em{
    background-color: #fff;
  }
  .fill{
    margin-top:-100px;
   width:100%;
   height:auto;
   
   border:2px solid black;
   justify-content: center;
   align-items: center;
   display:flex;
   flex-direction:column;
   margin:0 auto;
  }

  .bel{
   display:flex;
   font-size: 15px;
  flex-direction: column;
  }
  .bel input{
    width:100%;
   max-width:400px;
   padding-bottom:10px;
   height:20px;
  }
  .us{
    width:100%;
    height:auto;
    background-color:black;
    color:#fff;
    margin:0 auto;
    justify-content: center;
    align-items:center;
  }
  .us p{
    padding:7px;
    font-size:1em;
  }
  fieldset{
    border:none;
  }
  footer{
    background-color: black;
    color: aqua;
    text-align: center;
  }
  /*services*/
  #li{
    display: flex;
    flex-direction:row;
    
  }
  #select{
    width:15px;
    padding-right:5px;
    border:none;
  
  }
  .update{
    width:100%;
    height:auto;
    padding:10px;
    background-color:black;
    border-radius:10px;
    justify-content:center;
    align-items:center;
    margin:10px auto;
  }
  .ser{
    padding-top:0;
  }
  .update p{
    background-color:orangered;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    
  }
   #calender{
width:80%;
height:auto;
margin:20px auto;
background-color:white;
display:flex;
flex-direction: row;
padding:10px;
font-size:30px;
color:blue;
border-radius:10px;
   }
   #Day{
    width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
   }
   #Month{
    width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
   }
   #Year{
    width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
   }
   #calender2{
    width:80%;
    height:auto;
    margin:20px auto;
    background-color:white;
    display:flex;
    flex-direction: row;
    padding:10px;
    font-size:30px;
    color:blue;
    border-radius:10px;
       }
       #Hours{
        width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
       }
       #minutes{
        width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
       }
       #seconds{
        width:auto;
        height:auto;
        border:2px solid black;
        padding:5px;
        margin:2px;
        border-radius:10px;
        background:radial-gradient(green,black,white);
        font-weight: 900;
        color: white;
       }
       legend{
        font-weight: bolder;
        text-decoration:underline;
        font-size:30px;
       }
       em{
        font-size:20px;
       }
       .regular{
        box-shadow:2px 4px 2px 2px black;;
        border-radius: 10px;
        border:2px solid white;
        width:100%;
        height:auto;
        margin:10px auto;

       }
       .time{
        padding:2px;
        font-size:17px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 400;
       }
       .cons{
        width:100%;
        margin: 20px auto;
       
       
        height:auto;
       }
       .cons img{
        width:100%;
        height:auto;
        margin:auto;
        border:2px solid black;
        box-sizing:border-box;
        border-radius: 10px;
       }

/*---about us---*/
.whyus{
  width:100%;
  height:auto;
  margin:10px auto;
  background-color:white;
  font-size:20px;
  padding:20px;
}
.divider{
  width:100%;
  height: 5px;
  background:linear-gradient(red,white,black,green);

}
}
/*-----medium screens---*/
@media (min-width: 768px) and (max-width: 1024px) {
  

header{
  background:whitesmoke;
  width:100%;
  min-height:10em;
  display:flex;
  padding:5px;
  justify-content: space-around;
  align-items:center;
  border:2px solid black;
  margin: 0 auto;
  box-sizing: border-box;
   
}
.logo{
  width:50%;
  
}
.logo img{
  width:100%;
  max-width:200px;
  height:200px;
  object-fit:cover;
}
.nav{
  text-align: right;
  padding:5px 0;
  transition:2s ease-in-out;
}
.nav ul{
 list-style:none;
}
.nav ul li{
  display:inline-block;
  padding:4px 5px ;
  margin-right:40px;
}

.nav ul li a{
  text-decoration:none;
  position:relative;
}
.nav ul li a::after{
  content:'';
  width: 0%;
  background: white;
  height: 2px;
  bottom:0;
  left:0;
  position:absolute;
}
.nav ul li a:hover::after{
  width:100%;
  cursor:pointer;
  transition: 1s ease-in-out
}
main{
  width:80%;
  min-height:50%;  
  align-items:center;
  margin:0 auto;
}
h1{
  text-align: center;
  font-weight: bold;
}
.for{
  text-align:center;

}
hr{
  width:100%;
  height:0.1em;
  background-color: linear-gradient(white,blue,black);
}
.container{
  height:200px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

}
.image-slider{
  height:200px;
  width:30%;
  margin: 0 auto;
  border:2px solid white;
  border-bottom:1px;
  align-items:center;
  background-image:url(../image/build.jpg);
  animation: slides 5s  ease-in-out infinite;
  color:white;
  border-radius:10px;
  
}
.image{
  margin:0 auto;
  text-align:center;
  height:200px;
  width:30%;
  border:2px solid white;
  background-image: url(../image/build.jpg);
  animation: slides 10s  ease-in infinite;
  color:white;
  border-radius:10px;
}
.slider{
  margin:0 auto;
  text-align:center;
  height:200px;
  width:30%;
  margin: 0 auto;
  border:2px solid white; 
   background-image: url(../image/build.jpg);
  color:white;
  animation: slides 10s  ease-in infinite;
  border-radius:10px;
}
h4{
font-size:1.5em;
  text-align: center;
  line-height: 50px;
  padding-top: 20px;
}
@keyframes slides {
  0%{
    color:white;
    background-color: aqua;
    background-image: url(../image/build.jpg);
     
  }
  25%{
    color:black;
    background-color: antiquewhite;
    background-image: url(../image/flour.jpg);
  
}
 50%{
  color: aqua;
  background-color: brown;
  background-image: url(../image/rail.jpg);
 } 
 75%{
  color:burlywood;
background-color: blueviolet;
background-image: url(../image/sca.jpg);
 }
100%{
  color:chartreuse;
  background-color:yellowgreen;
  background-image: url(../image/timber.jpeg);
}
}
 /*---image slide-----*/
 .count{
  padding:10px;
  display:inline-block;
  width:50%;
  height:auto;
  margin-left:30%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.count img{
  width:100%;
  max-width:500px;
  height:auto;
  margin:10px auto;

}
#harmmer,#iron,#building,#stone,#rail{
  opacity: 0;
  
}
.too{
  width:60em;;
  height:20em;
  border:1px solid black;
  margin:auto;
   text-align: center; 
background: linear-gradient(45deg,black,white,red,skyblue,black,greenyellow);
border-radius:20px;
  }
  h2{
    
   padding-top:2em;
   animation:change 5s ease-in infinite;
   color:black;
   font-weight: bold;
   font-size:50px;
  }
  @keyframes change{
    0%{
      color:black;
    }
    25%{
      color:skyblue;
    }
    50%{
      color:red;
    }
    75%{
      color:white;
    }
    100%{
color:greenyellow;
    }
  }
  /*--it was practice---*/
  .word-container {
    margin-top: 10px;;
    padding-top:10px;
    display: inline-block;
    width:100%;
    color:skyblue;
    background-color: black;
    font-weight:bolder;
    animation:chang 5s ease-in-out infinite;
    border:1px solid white;
    border-radius:20px;
    text-align: center;
  }
  
  .word-container span {
    font-size: 30px;
    text-align:center;
  }
  
  #new-word {
    opacity: 0; /* Initially hide the new word */
  }
  @keyframes chang{
    0%{
      color:skyblue;
    }
    50%{
      color:white;
    }
    100%{
      color:burlywood;
    }
  }
  .fill{
   width:80%;
   height:20em;
   margin:0 auto;
   border:2px solid black;
   justify-content: center;
   align-items: center;

   display:flex;
   flex-direction:column;
  }

  .bel{
   display:inline-block;
   font-size: 20px;
  }
  .bel input{
    width:400px;
   max-width:100%;
   padding-bottom:10px;
   height:20px;
  }
}